{% extends "template.html" %}

{% block header %}
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/slide.css">
{% endblock %}

{% block body %}
    <div class="mainContent">
        <div class="showTitle">
            <div class="left">
                <!-- 361*690 -->
                <div class="left_content">
                    <img src="images/phone_background.png" alt="">
                </div>
            </div>
            <div class="right">
                <div class="right_p1">
                    <div class="logo">logo</div>
                    <div class="advertise">
                        <p>星梦吧</p>
                        <p>叫你好看</p>
                    </div>
                </div>
                <div class="right_p2">
                    做中国人。。。
                </div>
                <div class="right_p3">
                    扫码
                </div>
            </div>
        </div>
        <!-- <div class="head">
            <h2>欢迎来到，星梦吧！</h2>
        </div> -->
      
        <!-- <div class="lunbo">
			<div class="pptbox" id="lunbo1">
				<ul class="innerwrapper">
					<li><a href="#"><img src="images/bizhi.jpg"/></a></li>
					<li><a href="#"><img src="images/bizhi.jpg"/></a></li>
					<li><a href="#"><img src="images/bizhi.jpg"/></a></li>
					<li><a href="#"><img src="images/bizhi.jpg"/></a></li>
				</ul>
			</div>
		</div> -->
    </div>
{% endblock %}

{% block footer %} 
    <script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="vendor/tyslide.js"></script>
    <script src="javascripts/index.js"></script>
{% endblock %}