<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <title>星梦吧</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="xmb,娱乐，娱乐圈，星梦吧，星梦商城，娱乐加互联网" />
    <meta name="description" content="《星梦吧》依托百度技术，精准推荐，懂你所好，一个集内涵与颜值于一身的专业娱乐平台！" />
    <meta name="referrer" content="always">
    <meta name="sogou_site_verification" content="LWXkK4dix0" />
    <meta name="360-site-verification" content="6b79ed7b26b992bc7be78f05032b3c18" />
    <meta name="shenma-site-verification" content="a100d9fa1cb7d18ce7b81620addab29a_1511337968" />
    <meta name="google-site-verification" content="q3GdhbqDnm61XXBMmC7_0WrgywghMyipfzSoO1k6XjE" />
    
    <!-- <link rel="shortcut icon" href="//vv.bdstatic.com/static/haokanui/common/img/favicon_4144536.ico" type="image/x-icon"> -->
    <link rel="stylesheet" href="stylesheets/index.css">
</head>

<body>
    <div class="top-wrap" monkey="baiduhaokan-pcdl">
        <div class="top">

            <!-- 左侧演示部分 -->
            <div class="phone-wrap animated fadeInLeft"><img class="phone" src="images/phone_cf21da8.png" />
                <div class="screen-wrap">
                    <img class="screen" src="images/replace/10.png" width="275" height="488" />
                    <img class="screen screen4 animated fadeOutLeft" src="images/replace/12.png" width="275" height="488" />
                    <img class="screen screen3 animated fadeOutLeft" src="images/replace/2.png" width="275" height="488" />
                    <img class="screen screen2 animated fadeOutLeft" src="images/replace/8.png" width="275" height="488" />
                    <img class="screen screen1 animated fadeOutLeft" src="images/replace/1.png"  width="275" height="488" />
                </div>
                <div class="feature zhuye">
                    <div class="zhuye-y">
                        <div class="feature-icon zhuye-icon animated zoomIn"></div>
                    </div>
                </div>
                <div class="feature guanzhu">
                    <div class="guanzhu-y">
                        <div class="feature-icon guanzhu-icon animated zoomIn"></div>
                    </div>
                </div>
                <div class="feature wode">
                    <div class="wode-y">
                        <div class="feature-icon wode-icon animated zoomIn"></div>
                    </div>
                </div>
            </div>

            <!-- 右侧信息部分 -->
            <div class="main">
                <div class="main-sub animated fadeInRight">
                    <h1 class="logo">
                        <img style="width:100%;height:100%;" src="images/replace/logo_20181019154820.png">
                    </h1>
                    <div class="download">
                        <div class="hd">
                            <h2>专业健康娱乐平台</h2>
                            <p>草根边大咖 就上星梦吧!</p>
                        </div>
                        <div class="bd clearfix">
                            <div class="qr" style="margin-left:15px;">
                                <!-- <div> -->
                                <img style="width:100%;height:100%;" src="images/replace/wx_20181019135731.jpg" />
                                <!-- </div> -->
                            </div>
                            <div class="qr" style="margin-left:15px;">
                                <img style="width:100%;height:100%;" src="images/replace/wx_20181019135731.jpg" />
                            </div>                            
                            <!-- <div class="btn-wrap">
                                <div class="btn">
                                    <a class="store-itunes" href="#" target="_self" title="App Store">
                                        <img src="images/itunes_efeff81.png" />
                                    </a>
                                </div>
                                <div class="btn btn2">
                                    <a class="store-android" href="#" title="Android" target="_self">
                                        <img src="images/android_fe2db3c.png" />
                                    </a>
                                    <a  class="store-baidu hide" href="#" target="_self" title="百度手机助手">
                                        <img src="images/baidu_c150f72.png" />
                                    </a>
                                    <a  class="store-wdj hide" target="_self" href="#" name="星梦吧" title="通过豌豆荚一键安装 星梦吧">
                                        <img src="images/wandoujia_6fc88d7.png" />
                                    </a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/mod.js"></script>
<script type="text/javascript" src="javascripts/top_c5f17bf.js"></script>
<script type="text/javascript" src="javascripts/widget.min_34f3758.js"></script>
<script type="text/javascript" src="javascripts/hover_d625e18.js"></script>
<script type="text/javascript" src="javascripts/scrollto_af5a9e4.js"></script>
<script type="text/javascript" src="javascripts/header_402b46b.js"></script>
<script type="text/javascript" src="javascripts/elevator_458f1ce.js"></script>
<script type="text/javascript">
    !function () {
        // require('haokanui:widget/pc/top/top'); 
    }();
</script>

</html>